.project
log/*.log
tmp/**/*
/attachments/

# Other useful tidbits
.DS_Store
doc/api
doc/app

public/system/*
public/javascripts/tiny_mce/*.js
public/javascripts/tiny_mce/license.txt
public/javascripts/tiny_mce/langs/*
public/javascripts/tiny_mce/themes/*
public/javascripts/tiny_mce/utils/*
public/javascripts/tiny_mce/plugins/advhr/*
public/javascripts/tiny_mce/plugins/advimage/*
public/javascripts/tiny_mce/plugins/advlink/*
public/javascripts/tiny_mce/plugins/advlist/*
public/javascripts/tiny_mce/plugins/autoresize/*
public/javascripts/tiny_mce/plugins/autosave/*
public/javascripts/tiny_mce/plugins/bbcode/*
public/javascripts/tiny_mce/plugins/contextmenu/*
public/javascripts/tiny_mce/plugins/directionality/*
public/javascripts/tiny_mce/plugins/emotions/*
public/javascripts/tiny_mce/plugins/example/*
public/javascripts/tiny_mce/plugins/fullpage/*
public/javascripts/tiny_mce/plugins/fullscreen/*
public/javascripts/tiny_mce/plugins/iespell/*
public/javascripts/tiny_mce/plugins/inlinepopups/*
public/javascripts/tiny_mce/plugins/insertdatetime/*
public/javascripts/tiny_mce/plugins/layer/*
public/javascripts/tiny_mce/plugins/legacyoutput/*
public/javascripts/tiny_mce/plugins/media/*
public/javascripts/tiny_mce/plugins/nonbreaking/*
public/javascripts/tiny_mce/plugins/noneditable/*
public/javascripts/tiny_mce/plugins/pagebreak/*
public/javascripts/tiny_mce/plugins/paste/*
public/javascripts/tiny_mce/plugins/preview/*
public/javascripts/tiny_mce/plugins/print/*
public/javascripts/tiny_mce/plugins/save/*
public/javascripts/tiny_mce/plugins/searchreplace/*
public/javascripts/tiny_mce/plugins/spellchecker/*
public/javascripts/tiny_mce/plugins/style/*
public/javascripts/tiny_mce/plugins/tabfocus/*
public/javascripts/tiny_mce/plugins/table/*
public/javascripts/tiny_mce/plugins/template/*
public/javascripts/tiny_mce/plugins/visualchars/*
public/javascripts/tiny_mce/plugins/wordcount/*
public/javascripts/tiny_mce/plugins/xhtmlxtras/*
